/* ---------------------------------- */
/* main component
------------------------------------- */

.main {
  background-color: #fafafa;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100vh;
}

app-feature-panel {
  grid-column:2/5;
}

app-todo-list {
  grid-column: 5/11;
}
