/* ---------------------------------- */
/* Footer component
------------------------------------- */
.footer {
    background: rgb(218, 125, 115);
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    color: white;
}
