/* ---------------------------------- */
/* Footer component
------------------------------------- */
.footer {
    background: rgb(255, 94, 73);
    padding: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
    color: white;
}
