.main {
  &__tasks {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    background-color: #fff;
    border-right: 1px solid #f1f1f1;
    border-left: 1px solid #f1f1f1;
    padding: 3rem;
    height: 100%;

    &__editor {
      display: grid;
      grid-template-rows: repeat(4, auto);
      grid-row-gap: 1rem;

      &__date {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-column-gap: 0.5rem;
        align-items: center;

        .day {
          font-size: 1.2rem;
        }
      }

      &__section {
        display: grid;

        .task {
          display: grid;
          grid-template-columns: 4rem min-content 1fr 1fr;
          padding-bottom: 1rem;
          padding-top: 1rem;
          border-bottom: 1px solid #f1f1f1;
          align-items: center;

          &__delete {
            font-size: 2.3rem;
            cursor: pointer;
            color: rgb(151, 150, 150);
            border: none;
            transition: .3s;
            opacity: 0.3;
            z-index: -2;

            &:hover {
              opacity:1;
            }
          }

          &__time {
            font-size: 1.5rem;
            font-weight: 600;
            width: 8rem;
          }

          &__body {
            font-size: 1.7rem;
          }

          &__project {
            font-size: 1rem;
            place-self: center end;
          }
        }
      }
    }


  }
}


/* ---------------------------------- */
/* Buttons component
------------------------------------- */
.btn {

  &,
  &:link,
  &:visited {
    text-decoration: none;
    padding: 1.2rem 3rem;
    margin-bottom: 2rem;
    // border-radius: 1rem;
    transition: all .2s;
    font-size: 1.3rem;
    font-family: sans-serif;
    font-weight: 400;
    //Change for the <button> element
    border: none;
    cursor: pointer;
    width: 15rem;
    height: 4rem;
    text-align: center;
    line-height: 1rem;
    border-radius: 0.5rem;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(#000, .2);
    border-radius: 0.5rem;

    &::after {
      box-shadow: 0 3rem 2rem rgba(#000, .2);
      opacity: 0;
      border-radius: 0.5rem;
    }
  }

  &--white {
    background-color: rgb(238, 176, 176);
    color: rgb(255, 255, 255);
    font-size: 3rem;

    &::after {
      background-color: #fff
    }
  }

  &--brown {
    background-color: rgb(134, 52, 52);
    color: #fff;

    &::after {
      background-color: rgb(136, 53, 53);
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    // border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .3s;
  }

  &--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
  }

}
