<div class="main__tasks">

  <div class="main__tasks__editor">

    <div class="main__tasks__editor__date">
      <h3 class="heading-3">Today</h3>
      <small class="day">Tue 5 Feb</small>
    </div>



    <app-add-todo></app-add-todo>

    <div class="main__tasks__editor__section">

      <div class="task" *ngFor="let todo of todos">
        <div class="task__time">{{todo.taskTime}}</div>
        <div class="task__body">{{todo.taskDesc}}</div>
        <div class="task__project">{{todo.taskProject}}</div>
      </div>

    </div>
  </div>

</div>
