<div class="main__tasks">

  <div class="main__tasks__editor">

    <div class="main__tasks__editor__date">
      <h3 class="heading-3">Today</h3>
      <small>Tue 5 Feb</small>
    </div>

    <input type="time" [style.display]="hidden ? 'none' : 'block'"  #newTaskTime [value]="inputValue" placeholder="Time">
    <input type="text" [style.display]="hidden ? 'none' : 'block'"  #newTaskDescr [value]="inputValue" placeholder="Description">
    <input type="text" [style.display]="hidden ? 'none' : 'block'"  #newTaskProject [value]="inputValue" placeholder="Project">
    <button class=" form__button btn btn--brown" (click)="addTaskBtn(newTaskTime.value,newTaskDescr.value,newTaskProject.value)">Add Task</button>

    <div class="main__tasks__editor__section">

      <div class="task" *ngFor="let todo of todos">
        <div class="task__time">{{todo.taskTime}} PM</div>
        <div class="task__body">{{todo.taskDescr}}</div>
        <div class="task__project">{{todo.taskProject}}</div>
      </div>

    </div>

    <div class="main__addtask">+ addtask</div>

  </div>

</div>
